/*IMPORTANTE

(<768px) SMARTPHONE XS

(≥768px) TABLET SM

(≥992px) DESKTOP MD

(≥1200px) ALTRO LG*/

/*classi debug*/

.h_50{
  height: 50px;
}

.h_70{
  height: 70px;
}

.h_100{
  height: 100px;
}

.h_150{
  height: 150px;
}

.h_200{
  height: 200px;
}

.pad_30{
  padding: 30px;
}

.pad_top_30{
  padding-top: 30px;
}

.pad_bot_30{
  padding-bottom: 30px;
}

.color_lightblue{
  background-color: lightblue;
  border: 1px solid blue;
}

.color_lightcoral{
  background-color: lightcoral;
  border: 1px solid coral;
}

.color_lightgreen{
  background-color: lightgreen;
  border: 1px solid green;
}

.color_lightpink{
  background-color: lightpink;
  border: 1px solid pink;
}

.text_color_blue{
  color: #3a8aff;
}

.text_color_grey{
  color: #5c6a88;
}

.vertical_middle{
  vertical-align: middle;
}


/*classi riutilizzabili*/

.margin_top_0{
  margin-top: 0;
}

.margin_bot_0{
  margin-bottom: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}


/*media query*/
@media screen and (max-width: 768px){
  .container{
    margin: 0 5px;
  }

  section#designed .row:nth-child(2) [class*="col-"]:nth-child(even){
    background-size: contain;
    height: 330px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px){

  .jumbotron h1{
    font-size: 35px;
  }

  section#deploy .row:last-child [class*="col-"]:nth-child(1n+2){
    margin-bottom: 20px;
  }

  section#designed .row:nth-child(2) [class*="col-"]:nth-child(even){
    background-size: cover;
    height: 330px;
  }

  section#designed .row:nth-child(2) [class*="col-"]:nth-child(odd){
    font-size: 20px;
    padding-top: 165px;
  }
}

@media screen and (min-width: 992px){
  section#designed .row:nth-child(2) [class*="col-"]:nth-child(odd){
    font-size: 30px;
    padding-top: 250px;
  }
  
  section#designed .row:nth-child(2) [class*="col-"]{
    height: 500px;
    background-size: contain;
  }

}

/*header*/

.header_top{
  background-color: #fff;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header_top .row{
  line-height: 70px;
}

.header_top .row>[class*="col-"]:first-child{
  background-image: url('https://images.prismic.io/www-static/49aa0a09-06d2-4bba-ad20-4bcbe56ac507_logo.png?auto=compress,format');
  height: 25px;
  background-size: 150px;
  background-repeat: no-repeat;
  margin-top: 23px;
} 

.header_top li a{
  text-decoration: none;
}

.header_top .row [class*="col-"]:last-child [class*="col-"]:last-child ul:last-child li:last-child .btn-default{
  border: 1px solid #3a8aff;
}

.header_top .row [class*="col-"]:last-child [class*="col-"]:first-child li:nth-child(odd) a:after{
  content: '\f107';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-left: 5px;
}

.header_top .row [class*="col-"]:last-child [class*="col-"]:last-child li:nth-child(2) a:after{
  content: '\f107';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-left: 5px;
}

/*jumbotron*/

.jumbotron{
  background-image: url('../img/bg-home-1.jpg');
  background-size: cover;
  padding-top: 100px;
}

.jumbotron h1{
  color: #fff;
}

.jumbotron [class*="col-"]:first-child p{
color: #bbcdff
}

.jumbotron .row [class*="col-"]:last-child{
  background-color: #fff;
  border-radius: 5px;
}

.jumbotron .row [class*="col-"]:last-child h2{
  font-size: 35px;
}

.jumbotron .row [class*="col-"]:last-child p{
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 1.5rem;
}

.jumbotron .row [class*="col-"]:last-child p a{
  text-decoration: underline;
}

.jumbotron input{
  display: block;
  width: 100%;
  height: 40px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.jumbotron a{
  width: 100%;
  margin: 2px 0;
}

.jumbotron .row .create_account{
  background-color: #579aff;
  color: #fff;
}

.jumbotron .row .google span::before{
  background-image: url('../img/google-icon.png');
  height: 20px;
  width: 20px;
  display: inline-block;
  content: '';
  background-size: cover;
  left: 20px;
  position: absolute;
}

/*section loghi*/

#loghi,
#designed,
#development{
  background-color: #f3f5f9;
}

section#loghi .row:nth-child(even) [id] {
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

section#loghi .row:nth-child(even) [id]:last-child{
  background-size: 85%;
}

#docker{
  background-image: url('../img/logo_docker.png');
}

#gitlab{
  background-image: url('../img/logo_gitlab.png');
}

#slack{
  background-image: url('../img/logo_slack.png');
}

#hashicorp,
#hashicorp2{
  background-image: url('../img/logo_hashicorp.png');
}

#splunk{
  background-image: url('../img/logo_splunk.png');
}

/* section deploy */

section#deploy p,
section#designed p{
  color: #5c6a88;
}

section#deploy ul li{
  list-style: none;
  padding: 8px;
  border-left: 2px solid #cccccc;
  color: #75809a;
}

.logo_piccolo{
  background-image: url('https://prismic-io.s3.amazonaws.com/www-static/936bb585-99ba-460d-ae2f-7bbdae8896cc_stacksplusicon.svg');
  background-size: cover;
  height: 20px;
  width: 20px;
}


/*section designed*/

section#designed .row:first-child >[class*="col-"] *{
  padding-bottom: 30px;
}

section#designed .row:nth-child(2) [class*="col-"]:nth-child(even){
  background-image: url('../img/screenshot-create-droplet-12336b41.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

/*section service*/

#service,
#get_started{
  background-image: linear-gradient( #0042bb , #001e9a);
}

/*footer*/

footer{
  background-color: #031c4e;
}